/* indian council */
.India-Council {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 10px;
    margin-top: 20px;
}

.council-img {
    float: right;
    margin-top: 30px;
    width: 35%;
    margin-right: 50px;
}

.India-Council-heading {
    display: flex;
    margin-left: 50px;
    color: #cf2e2e
}

.India-Council-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 50px;
    width: 50%;
}

.council-line {
    margin-left: 50px;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}

/* why acm */
.Why-ACM {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 10px;
    margin-top: 50px;
}

.Why-ACM-img {
    float: left;
    margin-top: 30px;
}

.Why-ACM-heading {
    display: flex;
    margin-left: 45%;
    color: #cf2e2e
}

.Why-ACM-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 45%;
    width: 50%;
}

.Why-ACM-line {
    margin-left: 45%;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}

.why-acm-btn {
    margin-left: 45%;
}

/* membership */
.Membership {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 20px;
    margin-top: 50px;
}



.Membership-heading {
    display: flex;
    margin-left: 50px;
    color: #cf2e2e
}

.Membership-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 50px;
    width: 50%;
}

.Membership-line {
    margin-left: 50px;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}

.Membership-btn {
    margin-left: 50px;
    margin-right: -30px;
}

.membership-img {
    width: 30%;
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
}

/* awards */

.awards {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 50px;
    margin-top: 210px;
}

.awards-heading {
    display: flex;
    margin-left: 47%;
    color: #cf2e2e
}

.awards-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 47%;
    width: 50%;
}

.awards-line {
    margin-left: 47%;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}

.awards-img {
    width: 35%;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 50px;
    height: auto;
}

.awards-btn {
    margin-left: 130px;
}


/* button */
.Read-more {
    color: black;
    border-color: black;
    transition: transform 0.3s ease;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Read-more:hover {
    background-color: green;
    color: white;
    border-color: green;
    transform: scale(1.05);
}

.mobile-view {
    display: none;
}


/* mobile css */


@media screen and (max-width: 767px) {
    .web-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .India-Council-heading,
    .council-line {
        margin-left: 6%;
    }

    .India-Council-describe {
        margin-left: 6%;
        width: 90%;
        margin-top: 150px;
    }

    .council-img {
        width: 70%;
        height: auto;
        margin-right: 22%;
    }

    .Why-ACM-heading,
    .Why-ACM-line {
        margin-left: 6%;
    }

    .Why-ACM-describe {
        width: 90%;
        margin-left: 6%;
        margin-top: 150px;
    }

    .Why-ACM-img {
        width: 70%;
        margin-left: 6%;
    }

    .why-acm-btn {
        margin-left: 6%;
    }

    .Membership-heading,
    .Membership-line,
    .awards-heading,
    .awards-line {
        margin-left: 6%;
    }

    .Membership-describe {
        margin-left: 6%;
        width: 90%;
        margin-top: 150px;
    }

    .membership-img {
        width: 70%;
        height: auto;
        margin-right: 24%;
    }

    .Membership-btn {
        margin-left: 6%;
        margin-right: -15px;
    }

    .awards {
        margin-top: 50px;
    }

    .awards-describe {
        width: 90%;
        margin-left: 6%;
        margin-top: 220px;
    }

    .awards-img {
        width: 70%;
        height: auto;
        margin-left: 6%;
    }

    .awards-btn{
        margin-left: 6%;
    }
}