/* Publications */
.Publications {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 10px;
    margin-top: 20px;
}

.Publications-img {
    height: auto;
    width: 30%;
    float: right;
    margin-top: 0px;
    margin-right: 75px;
}

.Publications-heading {
    display: flex;
    margin-left: 50px;
    color: #cf2e2e
}

.Publications-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 50px;
    width: 50%;
}

.Publications-line {
    margin-left: 52px;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}

.Publications-btn {
    margin-left: 50px;
    /* margin-right: -30px; */
}

/* Chapters */
.Chapters {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 10px;
    margin-top: 100px;
}

.Chapters-img {
    float: left;
    margin-top: 0px;
    width: 30%;
    margin-left: 50px;
}

.Chapters-heading {
    display: flex;
    margin-left: 46%;
    color: #cf2e2e
}

.Chapters-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 46%;
    width: 50%;
}

.Chapters-line {
    margin-left: 46%;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}

/* Acm Queue */
.Queue {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 20px;
    margin-top: 200px;
}

.Queue-img {
    float: right;
    margin-top: 30px;
}

.Queue-heading {
    display: flex;
    margin-left: 50px;
    color: #cf2e2e
}

.Queue-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 50px;
    width: 50%;
}

.Queue-line {
    margin-left: 52px;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}


.Queue-img {
    width: 30%;
    float: right;
    margin-right: 60px;
    margin-bottom: 50px;
    margin-top: 10px;
}

/* Elearn magazine */

.Elearn {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 50px;
    margin-top: 50px;
}


.Elearn-heading {
    display: flex;
    margin-left: 46%;
    color: #cf2e2e
}

.Elearn-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 46%;
    width: 50%;
}

.Elearn-line {
    margin-left: 46%;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}

.Elearn-img {
    width: 30%;
    float: left;
    margin-top: 5px;
    margin-left: 48px;
    margin-bottom: 50px;
    height: auto;
}


/* Explore xrds */

.Explore {
    /* background-color: black; */
    /* flex-wrap: nowrap; */
    margin-bottom: 20px;
    margin-top: 150px;
}


.Explore-heading {
    display: flex;
    margin-left: 50px;
    color: #cf2e2e
}

.Explore-describe {
    animation-name: ptags;
    animation-duration: 5s;
    color: black;
    text-align: justify;
    margin-left: 50px;
    width: 50%;
}

.Explore-line {
    margin-left: 52px;
    width: 100px;
    height: 3px;
    background-color: orange;
    margin-bottom: 10px;
}

.Explore-img {
    width: 30%;
    float: right;
    margin-right: 65px;
    margin-bottom: 50px;
}


/* button */

.Read-more {
    color: black;
    border-color: black;
    transition: transform 0.3s ease;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Read-more:hover {
    background-color: green;
    color: white;
    border-color: green;
    transform: scale(1.05);
}

.mobile-view {
    display: none;
}


/* mobile css */


@media screen and (max-width: 767px) {
    .web-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .Publications-img {
        margin-top: 0px;
        margin-right: 115px;
        width: 70%;
    }

    .Publications-describe {
        margin-left: 6%;
        width: 90%;
    }

    .Publications-heading {
        margin-left: 6%;
    }

    .Publications-line {
        margin-left: 6%;
    }

    .Publications-btn {
        margin-left: 6%;
    }

    .Chapters-describe {
        margin-left: 6%;
        width: 90%;
        margin-top: 180px;

    }

    .Chapters-img {
        margin-top: 0;
        margin-left: 6%;
        width: 70%;
    }

    .Chapters-line {
        margin-left: 6%;
    }

    .Chapters-heading {
        margin-left: 6%;
    }

    .Chapters {
        margin-top: 50px;
    }

    .Queue {
        margin-top: 50px;
    }

    .Queue-line,
    .Queue-heading {
        margin-left: 6%;
    }

    .Queue-describe {
        margin-left: 6%;
        width: 90%;
        margin-top: 100px;
    }

    .Queue-img {
        width: 70%;
        margin-right: 23%;
    }

    .Elearn-describe {
        margin-top: 217px;
        margin-left: 6%;
        width: 90%;
    }

    .Elearn-heading, .Elearn-line {
        margin-left: 6%;
    }

    .Elearn-img {
        width: 70%;
        margin-left: 6%;
    }

    .Explore-describe {
        width: 90%;
        margin-left: 6%;
        margin-top: 200px;
    }

    .Explore-heading, .Explore-line {
        margin-left: 6%;
    }

    .Explore-img {
        width: 70%;
        margin-top: 10px;
        margin-right: 23%;
    }

    .Explore {
        margin-top: 50px;
    }
}