body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-img {
    height: 550px;
    width: 100%;
    filter: brightness(70%);
}

/* .About-Mission {
    background-color: black;
} */

.about-heading {
    text-align: center;
    color: #cf2e2e
}

.about-content {
    display: flex;
    justify-content: center;
}

.about-describe {
    animation-name: tags;
    animation-duration: 5s;
    display: flex;
    width: 80%;
    text-align: center;
    margin-top: 0;
    color: #656565;
}

.line {
    width: 100px;
    height: 3px;
    background-color: orange;
}

.img-sec {
    float: left;
    width: 30%;
    margin-left: 90px;
}


