.text {
    font-size: 25px;
    color: black;
}

.contactImage {
    position: relative;
    top: 82px;
    left: 62%;
    width: 33%;
    height: 100%;
}

.contact-place {
    margin-top: 5rem;
}

.contact-place h2 {
    position: absolute;
    margin-top: -20%;
    margin-left: 30rem;
    font-size: 40px;
    color: gray;
}

.contact-place p {
    position: absolute;
    margin-top: -16%;
    margin-left: 30rem;
    font-size: 30px;
    color: black;
}

.connect-us {
    display: flex;
    justify-content: center;
    width: 54%;
    margin-left: 5%;
    margin-top: 12rem !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}

.name-input label {
    margin: 10px;
    margin-left: 0;
}

.email-input label {
    margin: 10px;
    margin-left: 0;
}

.msg-input label {
    margin: 10px;
    margin-left: 0;
}

.drop-msg {
    margin-top: -30rem;
    margin-left: -8rem;
}

.drop-msg h2 {
    position: absolute;
    margin-top: 2rem;
    margin-left: 35rem;
    font-size: 40px;
    color: gray;
}

.drop-msg p {
    position: absolute;
    margin-top: 6rem;
    margin-left: 38rem;
    font-size: 20px;
    color: black;
}

.submit-btn {
    margin-top: 10px;
}

.snd-btn {
    border-radius: 5px;
}

.mobile-view {
    display: none;
}



/* mobile css */


@media screen and (max-width: 767px) {
    .web-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .contactImage {
        top: 35px;
        left: 12%;
        width: 80%;
    }

    .drop-msg {
        margin-left: -30rem;
        margin-top: 3rem;
    }

    .connect-us {
        width: 90%;
    }
}